<h1>New gif</h1>

<%= form_for @gif do |f| %>
  <% if @gif.errors.any? %>
    <div class="error">
    <%= "Url can't be blank" %>
    </div>
    <div class="error">
    <%= "Title can't be blank" %>
    </div>
  <% end %>
  <div>
<%= f.label :url %><br>
<%= f.text_field :url %>
  <p class="error"><%= @gif.errors[:url].first %></p>
  </div>
  <div>
<%= f.label :title %><br>
<%= f.text_field :title %>
  <p class="error"><%= @gif.errors[:title].first %></p>
  </div>
<%= f.submit "Create gif" %>

<% end %>